---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import ForWho from '../components/ForWho.astro';
import Benefits from '../components/Benefits.astro';
import Team from '../components/Team.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Testimonials from '../components/Testimonials.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <ForWho />
    <Benefits />
    <Team />
    <HowItWorks />
    <Testimonials />
    <Pricing />
    <FAQ />
  </main>
  <Footer />
</Layout>
